section.car-section#car-section
	.container
		.car-section_content
			h1
				| Арендуйте авто #[br]
				| для 
				span
					| работы в такси #[br]
				| не выбрасывая деньги #[br]
				| на ветер
			p
				| Выгодная аренда автомобиля 
				span
					| для работы в такси #[br]
					| до 3 лет 
				| с правом выкупа. Отличная альтернатива #[br]
				| обычной аренде, кредиту и лизингу
			.perks.mobile-perks
				.card.card-2
					img(src="../../images/wallet.png", alt="")
					.texts
						span
							| С удобной оплатой, 
						| оплачивайте #[br] авто каждый день или раз в месяц, #[br]
						| без первого взноса и залога
				.card.card-1
					img(src="../../images/taxi-driver.png", alt="")
					.texts
						span
							| Поможем  #[br]
							| с регистрацией 
						| во&nbspвсех  #[br]
						| агрегаторах такси
				.card.card-3
					img(src="../../images/click.png", alt="")
					.texts
						| Без лишних документов, #[br]
						| езды в офис, 
						span
							| одобрение #[br]
							| заявки онлайн
				.card.card-4
					img(src="../../images/taxi-mini.png", alt="")
					.texts
						| Авто #[br]
						| полностью 
						span
							| готовы #[br]
							| к&nbspэксплуатации
			a.main-button.anchor(href="#catalog")
				span
					| Выбрать авто для работы
		.car-section_right
			.online-wrapper
				| Вы забираете свой новый авто #[br]
				| в день обращения 
				span
					| с бесплатной #[br]
					| доставкой 
				| в удобное для вас место
				img(src="../../images/online-banner-guy.png", alt="")
				.percent
					| 98%
			img(src="../../images/car1.png", alt="").car1
	.container
		.perks.desctop-perks
			.card.card-2
				img(src="../../images/wallet.png", alt="")
				.texts
					span
						| С удобной оплатой,
					| оплачивайте #[br] авто каждый день или раз в месяц, #[br]
					| без первого взноса и залога
			.card.card-1
				img(src="../../images/taxi-driver.png", alt="")
				.texts
					span
						| Поможем  #[br]
						| с регистрацией 
					| во всех  #[br]
					| агрегаторах такси
			.card.card-3
				img(src="../../images/click.png", alt="")
				.texts
					| Без лишних документов, #[br]
					| езды в офис, 
					span
						| одобрение #[br]
						| заявки онлайн
			.card.card-4
				img(src="../../images/taxi-mini.png", alt="")
				.texts
					| Авто #[br]
					| полностью 
					span
						| готовы #[br]
						| к эксплуатации
	img(src="../../images/tree.png", alt="").tree

